.page {
    color: #757575;
    background-color: #E5E5E5;
}
.list {
    list-style: none;
}
.header {
    background-color: #ffffff;
}

.link {
    color: #212121;
}
.link-logo {
    color: #2196F3;
}
.nav-page .link:hover,
.nav-page .link:focus {
    color: #2196F3;
}

.contact {
    color: #757575;
}
.contact:hover, .contact:focus {
    color: #2196F3;
}

.hero {
    background: #2F303A;
}
.hero-title {
    color: #ffffff;
    
}
.hero-btn {
    color: #ffffff;
    background-color: #2196F3;
}

.section-title {
    color: #212121;
}

.service-title {
    color:#212121;
}